<div class="limiter">
  <div class="container-loginnew" style="background-image: url('<%= asset_path("tarefa.png") %>');">
    <div class="wrap-loginnew">
      <%= form_with(model: @tarefa, local: true, class: "loginnew-form validate-form") do |form| %>

        <span class="loginnew-form-title">
          Nova Tarefa
        </span>

        <div class="wrap-inputnew">
          <%# Adicionado placeholder: " " %>
          <%= form.date_field :data, class: "inputnew", placeholder: " " %>
          <span class="focus-inputnew" data-placeholder="Data"></span>
        </div>

        <div class="wrap-inputnew">
          <%# Adicionado placeholder: " " %>
          <%= form.text_area :descricao, rows: 3, class: "inputnew", placeholder: " " %>
          <span class="focus-inputnew" data-placeholder="Descrição"></span>
        </div>

        <div class="wrap-inputnew">
          <%# Alterado para placeholder: " " %>
          <%= form.text_field :bloco, class: "inputnew", placeholder: " " %>
          <span class="focus-inputnew" data-placeholder="Tempo planejado (ex: 30 minutos)"></span>
        </div>

        <div class="wrap-inputnew">
          <%= form.collection_select :categoria_id, Categoria.all, :id, :nome,
                { prompt: "Selecione uma Categoria" }, { class: "inputnew" } %>
          <span class="focus-inputnew" data-placeholder="Categoria"></span>
        </div>

        <div class="wrap-inputnew">
          <%= form.select :turno,
                [["Manhã", "Manhã"], ["Tarde", "Tarde"], ["Noite", "Noite"], ["Madrugada", "Madrugada"]],
                { prompt: "Selecione um turno" }, { class: "inputnew" } %>
          <span class="focus-inputnew" data-placeholder="Turno"></span>
        </div>

        <div class="container-loginnew-form-btn">
          <%= form.submit "Criar Tarefa", class: "loginnew-form-btn" %>
        </div>

      <% end %>
    </div>
  </div>
</div>