<div class="limiter">
  <div class="container-metas" style="background-image: url('<%= asset_path("meta.png") %>');">
    <div class="wrap-metas">
      <%= form_with(model: @meta, url: metas_path, local: true, class: "metas-form") do |form| %>

        <span class="metas-form-title">
          Criar Meta
        </span>

        <!-- Data Início -->
        <div class="wrap-input-metas">
          <%= form.date_field :data_inicio, class: "input-metas", placeholder: " " %>
          <span class="focus-input-metas">Data Início</span>
        </div>

        <!-- Data Fim -->
        <div class="wrap-input-metas">
          <%= form.date_field :data_fim, class: "input-metas", placeholder: " " %>
          <span class="focus-input-metas">Data Fim</span>
        </div>

        <!-- Descrição -->
        <div class="wrap-input-metas">
          <%= form.text_area :descricao, rows: 3, class: "input-metas", placeholder: " " %>
          <span class="focus-input-metas">Descrição</span>
        </div>

        <!-- Status -->
        <div class="wrap-input-metas">
          <%= form.collection_select :status_id, Status.all, :id, :nome,
                                     { prompt: "Selecione um Status" },
                                     { class: "input-metas", required: true } %>
          <span class="focus-input-metas">Status</span>
        </div>

        <!-- Categoria -->
        <div class="wrap-input-metas">
          <%= form.collection_select :categoria_id, Categoria.all, :id, :nome,
                                     { prompt: "Selecione uma Categoria" },
                                     { class: "input-metas", required: true } %>
          <span class="focus-input-metas">Categoria</span>
        </div>

        <div class="container-metas-form-btn">
          <%= form.submit "Criar Meta", class: "metas-form-btn" %>
        </div>

      <% end %>
    </div>
  </div>
</div>

