<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Planify</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag 'login', 'data-turbo-track': 'reload' %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'login', 'data-turbo-track': 'reload' %>
</head>

<body>
<div class="limiter">
  <div class="container-loginnew" style="background-image: url('<%= asset_path('Teste.jpg') %>');">
    <div class="wrap-loginnew">
      <%= form_with(model: @user, class: "loginnew-form validate-form") do |form| %>

        <span class="loginnew-form-title p-b-34 p-t-27">
            CRIE SUA CONTA
        </span>

        <div class="wrap-inputnew validate-input" data-validate="Digite seu nome">
          <%= form.text_field :nome, class: "inputnew", placeholder: "" %>
          <span class="focus-inputnew" data-placeholder="Nome Completo"></span>
        </div>

        <div class="wrap-inputnew validate-input" data-validate="Digite seu email">
          <%= form.email_field :email, class: "inputnew", placeholder: "" %>
          <span class="focus-inputnew" data-placeholder="Email"></span>
        </div>

        <div class="wrap-inputnew validate-input" data-validate="Digite sua senha">
          <%= form.password_field :raw_password, class: "inputnew", placeholder: "" %>
          <span class="focus-inputnew" data-placeholder="Senha"></span>
        </div>

        <div class="wrap-inputnew validate-input" data-validate="Confirme sua senha">
          <%= form.password_field :raw_password_confirmation, class: "inputnew", placeholder: "" %>
          <span class="focus-inputnew" data-placeholder="Confirme sua senha"></span>
        </div>

        <div class="container-loginnew-form-btn">
          <%= form.submit "CADASTRAR", class: "loginnew-form-btn" %>
        </div>

        <div class="text-center p-t-90">
          <%= link_to "Já tenho cadastro", root_path, class: "txt1" %>
        </div>

      <% end %>
    </div>
  </div>
</div>

<% if flash[:success] %>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          toastr.success('<%= j flash[:success] %>');
      });
  </script>
<% elsif flash[:error] %>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          toastr.error('<%= j flash[:error] %>');
      });
  </script>
<% end %>

</body>
</html>



